*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab", serif;
}

.fundo {
    position: relative;
    align-items: end;
    z-index: 2;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .nav-bar{
    text-align: right;
  }

.nav-bar, a {
    justify-content: space-around;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: right;
    padding-right: 90px;
    
  }

.detalhe1{
    font-family: "Josefin Slab", serif;
    margin-top: auto;
    margin-right: 600px;
    font-size: 30px;
    margin-bottom: 90px;
    padding-bottom: 400px;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
  }

.container{
    display: flex;
    flex-direction: column;
}

header{
    background-image: url("images/Hero.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: rgb(143, 143, 143);
}


img{
    width: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}

span{
    color: #686931;
}

#secondSession{
    background-color: #d8c779;
    display: flex;
    height: 40vh;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.livre1{
    font-size: 30px;
    width: 400px;
    height: 200px;
    gap: 80px;
    text-align: justify;
    justify-content: space-between;
    letter-spacing: 1px;
    border-right: solid 1px;
    padding-right: 90px;
    position: relative;
    left: 30px;
} 

#secondSession .HighlighTra{
    position: relative;
    font-size: 30px;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 250px;
    margin-right: -75px;
    
    
}

.container-trabalho{
    width: 300px;
    height: 200px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-top: 40px;
}

.colunajob{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-right: 70px;
}